.App {
  top: 0 ;
  left: 0;
  right: 0;
  color: #ffffff;
  bottom: 0;
  display: flex;
  position: absolute;
  text-align: center;
  background-color: #282c34;
}

.side__menu {
  width: 260px;
  padding: 10px;
  background-color: #202123;
}

.chat__box {
  flex: 1;
  background-color: #343541;
}

.side__menu__button {
  border: 1px solid hsla(0,0%,100%,.2);
  cursor: pointer;
  padding: 10px;
  text-align: left;
  border-radius: .375rem;
  transition: all .25s ease;
}

.side__menu__button:hover {
  background-color: rgba(255, 255, 255, .06);
}

.side__menu__button span {
  padding-left: 6px;
  padding-right: 12px;
}